.AboutSection {
    padding: 10rem 0;

    .container {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        text-align: left;
    }

    .aboutSection__left,
    .aboutSection__right {
        flex: 1;
    }

    .section-title {
        text-align: left;
    }

    .para {
        margin-top: 2rem;
        margin-left: 0;
    }

    .aboutImg {
        border-radius: 15px;
    }

    .aboutSection__buttons {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 2rem;
        margin-top: 2rem;
    }

    @media only screen and (max-width: 950px) {
        .aboutSection__left {
            flex: 4;
        }

        .aboutSection__right {
            flex: 3;
        }
    }

    @media only screen and (max-width: 768px) {
        .container {
            flex-direction: column;
            text-align: center;
        }

        .aboutSection__left,
        .aboutSection__right {
            width: 100%;
        }

        .aboutSection__right {
            margin-top: 3rem;
        }

        .section-title {
            text-align: center;
        }

        .para {
            margin: 0 auto;
            margin-top: 2rem;
        }

        .aboutSection__buttons {
            flex-direction: column;
            gap: 0rem;

            .button-wrapper,
            a {
                width: 100%;
                text-align: center;
            }
        }
    }
}