.ContactForm {
    width: 100%;
    background-image: linear-gradient(var(--deep-dark), var(--Background));
    padding: 2rem;
    border-top: 1px solid;
    border-right: 1px solid;
    border-radius: 8px;

    .form-group {
        width: 100%;
        margin-bottom: 2rem;
        border-top: 1px solid;
        border-right: 1px solid;
        border-radius: 8px;
        padding: 1rem;
    }

    .aws-btn--progress .aws-btn__content > span > span {
        background-color: var(--gray-1);
        color: var(--OnSecondary)
    }

    label {
        font-size: 1.8rem;
        padding:1px;
    }

    input,
    textarea {
        width: 100%;
        font-size: 2rem;
        padding: 1.2rem;
        color: var(--OnSecondary);
        background-color: var(--OnSurface);
        opacity: 0.7;
        outline: none;
        border: none;
        border-radius: 8px;
        margin-top: 1rem;
    }

    textarea {
        min-height: 250px;
        resize: vertical;
    }

    button[type='submit'] {
        background-color: var(--gray-1);
        color: var(--OnSurface);
        font-size: 2rem;
        display: inline-block;
        outline: none;
        border: none;
        padding: 1rem 4rem;
        border-radius: 8px;
        cursor: pointer;
    }
}