.ContactBanner {
    padding: 5rem 0;
    .contactBanner__wrapper {
        background-image: linear-gradient(var(--deep-dark), var(--Background));
        border-right: 1px solid;
        border-left: 1px solid;
        border-radius: 12px;
        padding: 5rem 0rem;
        text-align: center;
        opacity: 0;

        &:hover {
            border-color: var(--hoverAcent);
        }

        .para {
            max-width: 700px
        }
    }

    .contactBanner__heading {
        font-size: 4rem;
        margin-bottom: 2rem;
    }

    @media only screen and (max-width: 768px) {
        .contactBanner__heading {
            font-size: 2.8rem;
        }
    }

}