.hero {
  height: 100vh;
  min-height: 568px;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.hero__heading {
  font-size: 2rem;
  position: relative;

  span {
    display: inline-block;
    width: 100%;
  }

  .hero__name span {
    width: auto;
  }

  .hero__name {
    font-family: 'Montserrat SemiBold';
    font-size: clamp(40px, 7vw, 80px);
    color: var(--OnSurface);
  }

  .hero__name .word {
    font-family: 'Montserrat SemiBold';
    font-size: clamp(40px, 7vw, 80px);
    color: var(--OnSurface);
    display: inline-block;
    width: auto;
    transition: all .3s ease-out
  }

  .hero__name .word:hover {
    color: var(--hoverAcent);
  }

  .hero__name .onespace {
    width: 20px;
  }
}

.hero__oneliner {
  opacity: 0.5;

  span {
    font-family: 'Montserrat SemiBold';
    font-size: clamp(40px, 7vw, 80px);
    color: var(--OnSurface);
    display: inline-block;
    width: auto;
    transition: all .3s ease-out
  }
}

.hero__img {
  max-width: 900px;
  width: 100%;
  height: 600px;
  margin: 0 auto;
  border: 2px solid var(--OnPrimary);
}

.hero__info {
  max-width: 62%;
  text-align: left;

  .para {
    opacity: 0.9;
  }
}

.hero__social,
.hero__scrollDown {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: absolute;

  bottom: 20px;
  width: 50px;
}

.hero__social {
  left: 50px;
}

.hero__scrollDown {
  &.right {
    right: 50px;
  }

  &.left {
    left: 50px;
  }
}

.hero__social__indicator,
.hero__scrollDown {
  width: 50px;

  p {
    font-size: 1.6rem;
    transform: translateY(-70px) rotate(90deg);
    letter-spacing: 0.7rem;
    text-transform: uppercase;
  }

  img {
    max-height: 45px;
    width: 16px;
    margin: 0 auto;
    object-fit: contain;
  }
}

.hero__scrollDown {
  img {
    max-height: 70px;
  }
}

.hero__social__text {
  ul {
    li {
      margin-bottom: 1rem;

      a {
        display: inline-block;
        font-size: 1.6rem;
        transform: rotate(-90deg);
        letter-spacing: 5px;
        margin-bottom: 2rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    text-align: center;
  }

  .hero__heading {
    font-size: 1.4rem;

    .hero__name {
      font-size: 3.3rem;
    }
  }

  .hero__name {
    font-size: 4rem;
  }

  .hero__name .mobile {
    font-family: 'Montserrat SemiBold';
    color: var(--OnSurface);
    display: inline-block;
    width: auto;
    transition: all .3s ease-out;
    display: inline-block;
  }

  .hero__name .word {
    display: none !important;
  }

  .hero__img {
    height: 300px;
    border-radius: 15px;
  }

  .hero__oneliner {
    span {
      font-size: 3.3rem;
    }
  }

  .hero__info {
    margin-top: 2rem;
    max-width: 100%;
    text-align: center;
  }

  .hero__social {
    left: 0px;
    bottom: -15%;
    width: 20px;

    .hero__social__indicator {
      width: 20px;

      p {
        font-size: 1.2rem;
      }

      img {
        max-height: 22px;
      }
    }

    .hero__social__text {
      ul {
        li {
          a {
            font-size: 1.2rem;
            margin-bottom: 1rem;
          }
        }
      }
    }
  }

  .hero__scrollDown {
    right: 0;
    width: 20px;
    bottom: 50px;
    gap: 1rem;

    p {
      font-size: 1.3rem;
    }
  }
}