$MapImg : '../../assets/images/map.png';
.Map {
    background: url($MapImg) no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 400px;

    .container {
        position: relative;
        min-height: 400px;
    }

    .map__card {
        position: absolute;
        right: 10%;
        bottom: 10%;
        padding: 2rem;
        background: var(--Surface);
        width: 100%;
        max-width: 300px;
        border-radius: 12px;
    }

    .map__card__heading {
        font-size: 3rem;
        margin-bottom: 1rem;
    }

    .map__card__link {
        display: inline-block;
        font-size: 1.6rem;
        margin-top: 3rem;
        text-decoration: underline;
    }

    @media only screen and (max-width: 768px) {
        background-position: 80% center;
    }

    @media only screen and (max-width: 400px) {
        .map__card {
            max-width: none;
            right: auto;
        }
    }
}