.ContactSection {
  padding: 10rem 0;
  .contactSection__wrapper {
    display: flex;
    gap: 2rem;
    margin-top: 7rem;
    justify-content: center;
    position: relative;
  }
  .left {
    width: 100%;
    max-width: 500px;
  }
  .right {
    max-width: 500px;
    width: 100%;
    border-radius: 12px;
    /* padding-left: 3rem; */
  }
  @media only screen and (max-width: 768px) {
    .contactSection__wrapper {
      flex-direction: column;
    }
    .contactSection__wrapper::after {
      display: none;
    }
    .left,.right {
      max-width: 100%;
    }
    .right {
      padding: 4rem 0 2rem 0;
    }
  }
}