.ProjectItem {
  background-color: var(--OnBackground);
  padding:0.5rem;
  border-radius: 8px;
  .projectItem__img {
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
    display: inline-block;
    border: 3px solid var(--OnSecondary);
    img {
      height: 100%;
    }
  }
  .projectItem__info {
    height: 18rem;
    margin-top: 0.5rem;
    background-color: var(--Surface);
    padding: 1rem;
    border-radius: 8px;
  }
  .projectItem__title {
    font-size: 2.2rem;
  }
  .projectItem__desc {
    font-size: 1.6rem;
    font-family: 'RobotoMono Regular';
    margin-top: 1rem;
  }
  @media only screen and (max-width: 768px) {
    .projectItem__img {
      height: 350px;
    }
  }
}